body {
  background-image: url(https://thumbs.gfycat.com/NecessarySnappyAsianlion-size_restricted.gif);
  background-size: 842px;
  background-repeat: repeat;
  text-align: center;
  color: white;
  padding-top: 10px;
}

#lol {
  text-decoration: underline;
  font-family: georgia;
}

a {
  color: purple;
}

h2 {
  text-decoration: underline;
}
